body{text-align: center;}


hr{height: 2px;color: rgb(238, 203, 0);
   margin-bottom: 0px;}


#testoiniziale{background-color: rgba(235, 235, 8, 0.184);
 padding-top: 10px;
 padding-bottom: 10px;
 margin-top: 0px;
}

h1{
    margin-top: 50px;
    color: rgb(13, 6, 6);
    margin-left: 500px;
    margin-right: 500px;
}

div h4{
    margin-left: 450px;
    margin-right: 350px;
    text-align: left;
}


section img {
    border-radius: 2%;
    width: 40%;
}

section p{
    color: gray;
}

.featuredin{
    color: brown;
    margin-right: 500px;

}
